
//pages/index-page/index-page.component.scss
// SCSS
// this is the ugly display of the form
// requirement is to create a better user interface that is cleaner and more pleasing
// to the eye
.inventory-search {
  .form {
    display: grid;
    gap: 1rem;
    .row {
      display: grid;
      grid-template-columns: repeat(5, minmax(160px, 1fr));
      gap: 1rem;
      align-items: end;
    }
    label {
      display: flex;
      flex-direction: column;
      font-size: 0.9rem;
    }
    .checkbox {
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }
    button {
      height: 2.25rem;
    }
  }
  .loading {
    margin: 0.5rem 0;
    color: #555;
  }
}
